* {
    box-sizing: border-box;
    border-radius: 3px;
}

body {
    background-color: #A19D91;
}

img {
    margin-top: 1rem;
    max-width: 100%;
}

h1 {
    background-color: #8AA19E;
    padding: 1rem;
    margin-top: 0;
}

h2 {
    margin-top: 3rem;
}

label,
[type='checkbox'] {
    cursor: pointer;
}

table {
    max-width: 100%;
    margin: auto;
}

button {
    color: #8AA19E;
    border-radius: 5px;
    border: solid #8AA19E 2px;
    background-color: transparent;
    padding: 0.5rem;
    margin-left: 0.1rem;
    cursor: pointer;
}

button:hover {
    color: #A19D91;
    border-color: #A19D91;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

[type='number'],
[type='text'] {
    background-color: #FFFFFF88;
    margin: 0;
    text-align: center;
    max-width: 100%;
    border-color: #A19D91;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #8AA19E;
    left: 0;
}

.numeroAnadir {
    max-width: 4em;
    margin-top: 0.2em;
}

td,
th {
    margin: 0.2em;
    max-width: 4em;
}

.container-1400 {
    display: block;
    margin: auto;
    min-height: 98vh;
    position: relative;
}

.container-1400 {
    max-width: 1400px;
    text-align: center;
    background-color: #FefFff;
    margin-top: 0;
    padding: 1rem;

}

.container-energia {
    min-width: 280px;
    width: 30%;
    margin: 1rem;
}

.container-tabla {
    min-width: 280px;

}



.energia,
.turno {
    border: none;
    background-color: #8AA19E;
    border-radius: 1rem;
    font-size: 1.5em;
    width: 2rem;
    height: 2rem;
}

.energia:disabled,
.turno:disabled {
    color: black;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


}

.noPadding {
    padding: 0 0.5rem;
}

.oculto {
    color: transparent;
}

.margin {
    margin: 0.2em;
}

.div-oculto {
    display: none;
}

.ancho-auto {
    max-width: 10rem;
}

@media screen and (max-width: 1100px) {

    td,
    th {
        max-width: auto;
    }

    .noPadding {
        padding: 0 0.2rem;
    }

    html,
    body {
        margin: 0rem;
        padding: 0;
    }

    #tablaBotonera {
        max-width: 100%;
    }
}