* {
    box-sizing: border-box;
    border-radius: 3px;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

/* revisar para cambiar el color*/
body::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 2px solid black;
}


body {
    background-color: #A19D91;
}

img {
    margin-top: 1rem;
    max-width: 100%;
}

h1 {
    background-color: #8AA19E;
    padding: 1rem;
    margin-top: 0;
}

h2 {
    margin-top: 2rem;
}

label,
[type='checkbox'] {
    cursor: pointer;
}

table {
    max-width: 100%;
    margin: auto;
}

button {
    color: #8AA19E;
    border-radius: 5px;
    border: solid #8AA19E 2px;
    background-color: transparent;
    padding: 0.5rem;
    margin-left: 0.1rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #8AA19E;
}

button:hover {
    color: #A19D91;
    border-color: #A19D91;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

[type='number'],
[type='text'],
select {
    background-color: #FFFFFF88;
    margin: 0;
    text-align: center;
    max-width: 100%;
    border: 2px solid #A19D91;
}

footer {
    padding: 0.2rem;
    margin: 1em;
    width: 90%;
    width: calc(100% - 2em);
    position: absolute;
    bottom: 0;
    background-color: #8AA19E;
    left: 0;
    overflow-wrap: break-word;
}

td,
th {
    margin: 0.2em;
    max-width: 4em;
    border: inherit;
    border-radius: inherit;
}

.numeroBorrar {
    width: 100%;
    margin: 0;
    text-align: left;
}

.numeroAnadir,
.numeroBorrar {
    max-width: 4em;
    margin-top: 0.2em;
    margin-right: 0.4em;
}

.container-1400 {
    display: block;
    margin: auto;
    min-height: 98vh;
    position: relative;
}

.container-1400 {
    max-width: 1400px;
    text-align: center;
    background-color: #FefFff;
    margin-top: 0;
    padding: 1rem;

}

.container-energia {
    min-width: 280px;
    width: 30%;
    margin: 1rem;
}

.container-tabla {
    min-width: 280px;

}

.contenedorIframe {
    position: relative;
    padding-bottom: 450px;
    /*panorámico*/
    padding-top: 25px;
    height: 0;
    width: 800px;
    margin: auto;
}

.cartas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tamanoIframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

.boton-donar {
    color: black;
    border-color: black;
    display: inline;
    padding: 0.2rem;
}

.boton-donar:hover {
    color: white;
    border-color: white;
}

.margen-abajo {
    margin-left: 1.5em;
    margin-bottom: 3em;
}

.desplegable {
    transition: 0.8s;
    max-height: 0px;
    overflow: hidden;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 1.5em;
}

.energia {
    border: none;
    background-color: #8AA19E;
    border-radius: 1rem;
    font-size: 1.5em;
    width: 2rem;
    height: 2rem;
}

.danoSeleccionado {
    font-size: 1.5em;
    display: inline-block;
    background-color: #8AA19E;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    min-width: 1.8em;
    border-radius: 4em;
}

.energia:disabled {
    color: black;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.padding-bottom-footer {
    padding-bottom: 3rem;
}

.noPadding {
    padding: 0 0.5rem;
}

.espaciado {
    margin: 0.3rem 0;
}

.oculto {
    color: transparent;
}

.display-none {
    display: none;
}

.ancho-auto {
    max-width: 10rem;
}

.margen-auto {
    margin: auto;
}

.centrar-alto {
    margin-top: auto;
    margin-bottom: auto;
}

.interlineado {
    line-height: 1.2em;
}

.display-inline {
    display: inline;
}

.seleccionado {
    border-color: blue;
}

.focus-disabled:focus {
    outline: none;
}

.interlineado-grande {
    line-height: 1.4em;
}

.ancho-tabla {
    min-width: 3rem;
}

.tabla-tipo-1,
.tabla-tipo-2 {
    background-color: #8AA19E;
    border: 1px solid;
    margin: 0.3rem;
    border-spacing: 0px;
}

.tabla-tipo-2 {
    background-color: #A19D91;
}

.tabla-borde {
    border: 1px solid;
    border-radius: 0px;
}

#comoFunciono {
    text-align: left;
}

@media screen and (max-width: 1100px) {

    td,
    th {
        max-width: auto;
    }

    .noPadding {
        padding: 0 0.2rem;
    }

    html,
    body {
        margin: 0rem;
        padding: 0;
    }

    #tablaBotonera {
        max-width: 100%;
    }

    .desplegable {
        margin-left: 1em;
        margin-right: 1em;
    }

    .contenedorIframe {
        padding-bottom: 56.25%;
        width: 100%;
    }

    .padding-bottom-footer {
        padding-bottom: 7rem;
    }
}